.banner-about {
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 #00000040;
  border-radius: 25px;
  height: clamp(110px, 15vw, 223px);
  margin-bottom: calculate-rem(40px);

  @include respond-to(tablet) {
    margin-bottom: calculate-rem(30px);
  }

  @include respond-to(mobile) {
    margin-bottom: calculate-rem(20px);
  }
  background: no-repeat url('../../assets/images/background2.png');
  background-position: center;
  background-size: cover;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}
.dropdown-button-container {
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  gap: calculate-rem(30px);
  @include respond-to(tablet) {
    margin: 0;
    gap: calculate-rem(20px);
  }
}

.about-content {
  @include main-content;
}
