/*********************************Page Logement********************************/

.informations {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: calculate-rem(20px);
  align-items: center;
  @include respond-to(tablet) {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }
}

.first-col,
.second-col {
  display: flex;

  flex-direction: column;
  gap: calculate-rem(20px);
  @include respond-to(tablet) {
    gap: calculate-rem(15px);
  }

  @include respond-to(mobile) {
    gap: calculate-rem(10px);
  }
}
.second-col {
  @include respond-to(tablet) {
    align-items: center;
    margin-top: calculate-rem(16px);
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.descriptions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: calculate-rem(20px);
  column-gap: 76px;

  .dropdown-btn {
    align-self: self-start;
    margin-bottom: 0;
  }
  @include respond-to(tablet) {
    grid-template-columns: 1fr;
  }
}

.logement-content {
  @include main-content;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: clamp(18px, 2vw, 25px);
  .utag {
    font-weight: 600;
    min-width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
    color: $color-secondary;
    border-radius: 10px;

    font-size: calculate-rem(14px);
    @include respond-to(tablet) {
      font-size: calculate-rem(12px);
      min-width: 100px;
      border-radius: 7px;
    }
    @include respond-to(mobile) {
      font-size: calculate-rem(10px);
      min-width: 84px;
      border-radius: 5px;
    }
  }
}

.headings {
  h1 {
    margin: 0;
    font-weight: 500;
    font-size: calculate-rem(36px);
    @include respond-to(tablet) {
      font-size: calculate-rem(27px);
    }
    @include respond-to(mobile) {
      font-size: calculate-rem(18px);
    }
  }
  h2 {
    color: black;

    margin: 0;
    padding-top: 7px;
    font-weight: 500;
    font-size: calculate-rem(18px);
    @include respond-to(tablet) {
      font-size: calculate-rem(16px);
    }
    @include respond-to(mobile) {
      font-size: calculate-rem(14px);
    }
  }
}
