@use '@assets/styles/variable' as *;

/****************************Page Home ******************************/

.banner-home {
  position: relative;
  box-shadow: 0 4px 4px 0 #00000040;
  border-radius: 25px;
  height: clamp(110px, 15vw, 223px);
  margin-top: 50px;
  background: #7a7878 no-repeat url('../../assets/images/background.png');
  background-position: center;
  background-size: cover;
  transition: all 300ms linear;

  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  span {
    position: absolute;
    color: $color-secondary;
    font-weight: 700;
    font-size: 3rem;
    text-shadow: 0px 4px 4px #00000040;
    transition: all 300ms linear;
    @include respond-to(tablet) {
      font-size: 2rem;
    }
    @include respond-to(mobile) {
      font-size: 1.5rem;
    }
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}

.container {
  background-color: #f6f6f6;
  border-radius: 25px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, auto));
  grid-auto-rows: 340px;

  grid-gap: 50px 60px;
  transition: all 300ms linear;

  @media (max-width: 740px) {
    row-gap: 20px;
    background-color: white;
    padding: 0;
    grid-auto-rows: 250px;
  }
}

.main-content {
  max-width: 1240px;
  margin: 45px auto;
  width: 100%;

  @media (max-width: 1340px) {
    padding: 45px 20px;
    margin-top: 0;
  }
}
