/****************************Page Home ******************************/

.container {
  background-color: #f6f6f6;
  border-radius: 25px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 320px), auto));

  grid-auto-rows: 340px;

  grid-gap: 50px 60px;
  transition: all 300ms linear;

  @include respond-to(tablet) {
    row-gap: 20px;
    background-color: white;
    padding: 0;
    grid-auto-rows: 250px;
  }
}

.home-content {
  @include main-content;
  display: flex;
  flex-direction: column;
  gap: calculate-rem(43px);
  @include respond-to(tablet) {
    gap: calculate-rem(32px);
  }
  @include respond-to(mobile) {
    gap: calculate-rem(22px);
  }
}

* {
  outline: 1px solid red !important;
}
