/********************Dropdown Button*********************/

.dropdown-btn {
  font-weight: 700;

  .header {
    border-radius: 5px;
    background-color: $color-primary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 30px;
    @include respond-to(tablet) {
      height: 20px;
    }

    @include respond-to(mobile) {
      height: 10px;
    }
  }

  h3 {
    margin: 0;
    color: $color-secondary;
    font-size: calculate-rem(24px);

    @include respond-to(tablet) {
      font-size: calculate-rem(19px);
    }
    @include respond-to(mobile) {
      font-size: calculate-rem(13px);
    }
  }

  button {
    border: transparent;
    background-color: transparent;
    color: $color-secondary;
    img {
      transition: rotate ease-in 0.25s;
      @include respond-to(tablet) {
        width: 20px;
      }
      @include respond-to(mobile) {
      }
      width: 16px;
    }
  }
  .children {
    color: black;
    font-weight: 500;
    font-size: calculate-rem(18px);
    @include respond-to(tablet) {
      font-size: calculate-rem(15px);
    }
    @include respond-to(mobile) {
      font-size: calculate-rem(12px);
    }

    background: rgba(246, 246, 246, 0.45);
    margin: 0;
    opacity: 0;
    height: 0;
    transition: all ease 0.2s;
    &.active {
      height: auto;
      opacity: 1;
      padding: 17px;
    }
  }
}
