/************************Header ********************************/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  nav {
    display: flex;
    gap: 57px;
    a {
      font-size: 1.5rem;
    }
    @media (max-width: 790px) {
      a {
        font-size: 1.1rem;
        text-transform: uppercase;
      }
      gap: 26px;
    }
    @media (max-width: 450px) {
      a {
        font-size: 0.8rem;
      }
    }
  }
  img {
    @media (max-width: 790px) {
      height: 58px;
    }
    @media (max-width: 450px) {
      height: 48px;
    }
  }
}
