/************************Header ********************************/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include main-content;
  margin: 50px auto;

  @include respond-to(desktop) {
    margin: 20px auto;
  }
  img {
    width: clamp(112px, 20vw, 210px);
  }
  nav {
    display: flex;
    gap: calculate-rem(50px);

    @include respond-to(tablet) {
      gap: calculate-rem(28px);
    }

    a {
      font-size: 1.5rem;

      @include respond-to(tablet) {
        font-size: 1.1rem;
        text-transform: uppercase;
      }

      @include respond-to(mobile) {
        font-size: 0.8rem;
      }
    }
  }
}
