@use 'sass:math';
@use 'sass:map';
$color-primary: #ff6060;
$font: 'Montserrat', Arial;
$color-secondary: #ffffff;

$breakpoints: (
  mobile: 480px,
  tablet: 788px,
  desktop: 1024px,
);

@function calculate-rem($size) {
  $t: math.div($size, 16px);
  @return $t * 1rem;
}

@mixin respond-to($name) {
  @if map.has-key($breakpoints, $name) {
    $break: map.get($breakpoints, $name);
    @media (max-width: $break) {
      @content;
    }
  }
}

@mixin main-content {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 20px;
}
