@use 'variable';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$font: 'Montserrat', Arial;

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

body {
  margin: 0;
  font-family: $font;
  color: variable.$color-primary;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}
main {
  display: flex;
  flex-direction: column;
  gap: variable.calculate-rem(50px);
}

