/************************Page Not found***************************/
.number-NotFound {
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-size: 12rem;
}
.NotFound {
  text-align: center;
  p {
    font-size: 2.5rem;
  }
  .return {
    text-decoration: underline;
  }
}
